div.welcome
	br
	br
	h1 Welcome!
	br
	h1 My Ang ToDo App is the easiest way to manage your daily to-do lists.
		p Whether you are running your own business,
		p planning an overseas adventure or sharing
		p a shopping list with a loved one,
	br
	h1 My Ang ToDo App is here to help you get things done...
	br
	h2 Enjoy!
	br
	h4 Please use the navigation bar above to register or login.
	br
	br

div
	div
		a.list-group-item(href='https://github.com/LandoB/angular-todo')
			h4.list-group-item-heading About the Code
			p.list-group-item-text Check Out the Github Repo
		a.list-group-item(href='http://www.rolandobernal.com')
			h4.list-group-item-heading More About Me
			p.list-group-item-text Check Out My Portfolio
