nav.navbar.navbar-inverse(ng-controller="NavCtrl")
	.container
		.navbar-header
			a.navbar-brand(href='/') Angular ToDo App
		ul.nav.navbar-nav.navbar-right(ng-show="!rootuser")
			li
				a(href='/authenticate') Register/Log In
		ul.nav.navbar-nav.navbar-right(ng-show="rootuser")
			li
				a(href='/todo') Todos
			li
				a.button.btn.btn-danger(ng-click="logout()") X {{rootuser}}
