body{
	background-color: #000;
	color: #fff;
	text-shadow: 1px 1px #223333;
	text-align: center;
	background: url(../images/todo-app-bckgrnd.jpeg) no-repeat center center scroll;

}

input,
textarea {
	color:#000;
}
